h1,h2,p,li{
  margin: 5px;
  line-height: 1.2em;
}
ul{
  padding: 0;
}
li{
  list-style-type: none;
}
.app{
  display: flex;
}
.InfoWeather{
  margin-left: 30px;
  width: 30%;
}
.weather--city{
  display: flex;
  align-items: center;
}
.degrees{
  display: flex;
  align-items: center;
}
.wind{
  display: flex;
  width: 100%;
}
.wind-title{
  width:40%;
}
.character-list{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.character{
  width: 40%;
  flex-direction: column;
  display: flex;
}
.name{
  width: 20%;
}
.some-days{
  margin-left: 40px;
  width: 40%;
}

.SheduleForecast{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.schedule{
  min-height: 200px;;
  width: 100%;
  background-color: blue;
}
.weather-list--info{
  display: flex;
  width: 100%;
}
.date{
  width: 60%;
}
.addsity-form{
  margin-left: 40px;
  padding: 20px;
  background-color: #dcf0ff;
}
.city-list{
  background-color: #96b1c5;
  color: #2a3784;
  padding: 10px;
}
.btn{
  background-color: #96b1c5;
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 10px 20px;
}
.cross{

background: #000000;
height: 20px;
width: 2px;
position: relative;

}
.cross:after{
  content: "";
height: 2px;
width: 20px;
background: #000000;
position: absolute;
left: -10px;
top: 9px;
}
.button-close{
  position: absolute;
  top: 10px;
  right: 50px;
}
.container{

  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(205, 214, 219, 0.6);
}
.popupForm{

margin: auto;
 min-width: 400px;
 padding: 20px;
 border-radius: 50px;
 background-color: #dcf0ff;
}
.modal--show {
  display: block;
}
.SheduleForecast{
  margin-left: 30px;
}
